/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
.item-container {
  display: grid;
  grid-template-rows: 261px 261px;
  grid-template-columns: 200px 200px 200px;
  background-color: #f6f6f6;
  width: 630px;
  column-gap: 10px;
}
*/

.item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 261px 261px;
  grid-template-rows: 261px 261px;
  -ms-grid-columns: 200px 10px 200px 10px 200px;
  grid-template-columns: 200px 200px 200px;
  background-color: #f6f6f6;
  width: 630px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.item-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.item-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.item-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.item-container > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.item-container > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.item-container > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

#header_inline {
  width: 300px;
  display: inline-block;
  color: black;
  font-size: 15px;
}

#disclosure_inline {
  width: 300px;
  display: inline-block;
  color: #404040;
  font-size: 10px;
  text-align: right;
}

.header-container {
  width: 630px;
  height: 25px;
  color: black;
  font-weight: bold;
  background-color: #f6f6f6;
}

.item {
  cursor: pointer;
}

img {
  width: 200px;
  height: 133px;
}

.item-title {
  color: black;
  height: 65px;
  font-size: 16px;
  font-weight: bold;
  word-break: break-all;
}

.item-branding {
  color: #4d4d4d;
  height: 20px;
  font-size: 0.9em;
  font-weight: bold;
}

.item-category {
  color: #4d4d4d;
  height: 13px;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 13px;
}

.item-title:hover {
  text-decoration: underline;
}

/* Mobile only */
@media (max-width: 480px) {
  /*
  .item-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 200px;
    width: 200px;
    background-color: #f6f6f6;
    row-gap: 10px;
  } 
  */
  .item-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 200px;
    grid-template-columns: 200px;
    width: 200px;
    background-color: #f6f6f6;
    row-gap: 10px;
  }
  .item-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .item-container > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .item-container > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .item-container > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .item-container > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .item-container > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }

  .header-container {
    width: 200px;
    color: black;
    font-weight: bold;
  }

  #header_inline {
    width: 200px;
    color: black;
    font-size: 15px;
  }

  #disclosure_inline {
    width: 200px;
    color: #404040;
    font-size: 10px;
  }
}